about-time==4.2.1
aiodns==3.6.1
aiohappyeyeballs==2.4.6
aiohttp
aiohttp_socks
aiosignal==1.3.2
alive-progress==3.3.0
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyio==4.10.0
APScheduler==3.11.0
arabic-reshaper==3.0.0
asgiref
asn1crypto==1.5.1
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.1.0
azure-core
azure-identity==1.20.0
azure-keyvault-secrets==4.10.0
azure-servicebus==7.14.2
azure-storage-blob==12.24.1
beautifulsoup4
billiard==4.2.1
bleach==6.3.0
blinker==1.9.0
bs4
camelot-py==1.0.9
cascadio==0.0.17
celery==5.5.3
Cerberus==1.3.7
certifi==2025.1.31
cffi==1.17.1
channels==4.3.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudscraper
colorama==0.4.6
contourpy==1.3.3
crispy-bootstrap5==2024.10
cryptography==44.0.0
cssselect2==0.8.0
curl_cffi==0.13.0
cycler==0.12.1
cyclopts==4.5.2
dataclasses-json==0.6.7
decorator==5.2.1
Deprecated==1.3.1
distro==1.9.0
Django==5.1.5
django-axes==7.0.1
django-crispy-forms==2.3
django-decouple==2.1
django-multiselectfield==1.0.1
django-ratelimit==4.1.0
django-summernote==0.8.20.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
docopt==0.6.2
docstring_parser==0.17.0
docutils==0.22.4
dotenv==0.9.9
drf-spectacular==0.29.0
et_xmlfile==2.0.0
exchange_calendars==4.9
executing==2.2.1
fastapi==0.117.1
filetype==1.2.0
Flask==3.1.2
fonttools==4.61.1
frozendict==2.4.6
frozenlist==1.5.0
future==1.0.0
future-annotations==1.0.0
google-auth==2.48.0
google-genai
graphemeu==0.7.2
greenlet==3.1.1
gunicorn==23.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.3
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
inflection==0.5.1
ipython==9.9.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jsonpatch==1.33
jsonpickle==4.1.1
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
kombu==5.5.4
korean-lunar-calendar==0.3.1
lxml==5.3.0
maigret
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
microsoft-kiota-abstractions==1.9.7
microsoft-kiota-authentication-azure==1.9.7
microsoft-kiota-http==1.9.7
microsoft-kiota-serialization-form==1.9.7
microsoft-kiota-serialization-json==1.9.7
microsoft-kiota-serialization-multipart==1.9.7
microsoft-kiota-serialization-text==1.9.7
mock==5.2.0
msal==1.31.1
msal-extensions==1.2.0
msgraph-core==1.3.8
msgraph-sdk==1.45.0
multidict==6.1.0
multitasking==0.0.12
mypy_extensions==1.1.0
networkx==2.8.8
nexus-rpc==1.1.0
num2words==0.5.14
numpy==2.2.0
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
orjson==3.11.7
ormsgpack==1.12.2
oscrypto==1.3.0
packaging==25.0
pandas==2.2.3
pandas_market_calendars==4.6.1
parso==0.8.5
pdfminer.six==20250506
peewee==3.18.2
pikepdf
pillow==11.0.0
pip_system_certs==5.3
platformdirs==4.4.0
playwright==1.54.0
plum-dispatch==1.7.4
pooch==1.9.0
portalocker==2.10.1
prompt_toolkit==3.0.51
propcache==0.3.0
protobuf==5.29.3
psycopg2==2.9.10
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycares==4.11.0
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.9
pydantic-settings==2.13.1
pydantic_core==2.33.2
pyee==13.0.0
Pygments==2.19.2
pyHanko
pyhanko-certvalidator
PyJWT==2.10.1
pyluach==2.2.0
pyparsing==3.3.2
pypdf==5.9.0
PyPDF2==3.0.1
pypdfium2==5.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
PySocks==1.7.1
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-docx-replace==0.4.4
python-dotenv==1.0.1
python-socks==2.8.0
pytz==2024.2
pyvis==0.3.2
pyvista==0.47.0
PyYAML==6.0.3
redis==7.1.0
referencing==0.37.0
reportlab==4.2.5
requests==2.32.3
requests-futures==1.0.2
requests-toolbelt==1.0.0
rich==14.3.2
rich-rst==1.3.2
rpds-py==0.30.0
rsa==4.9.1
scooby==0.11.0
setuptools==78.0.1
sidrapy==0.1.4
six==1.17.0
sniffio==1.3.1
socid-extractor==0.0.27
soupsieve==2.6
SQLAlchemy==2.0.40
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.48.0
std-uritemplate==2.0.5
stem==1.8.2
steputils==0.1
svglib==1.5.1
tabula==1.0.5
tabula-py==2.10.0
tabulate==0.9.0
temporalio==1.9.0
tenacity==9.1.4
tinycss2==1.5.1
tokenize_rt==6.2.0
toolz==1.0.0
torrequest==0.1.0
tqdm==4.67.0
traitlets==5.14.3
trimesh==4.11.2
types-protobuf==5.29.1.20241207
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata
tzlocal==5.3.1
uritemplate==4.2.0
uritools==6.0.1
urllib3==2.3.0
uuid_utils==0.14.1
uvicorn==0.37.0
vine==5.1.0
vtk==9.6.0
watchfiles==1.1.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==15.0.1
Werkzeug==3.1.3
whitenoise==6.9.0
wrapt==2.1.1
xhtml2pdf==0.2.17
XMind==1.2.0
xxhash==3.6.0
yarl==1.18.3
yfinance==0.2.65
zipp==3.23.0
zstandard==0.25.0
