{% extends 'base.html' %}
{% load static %}

{% block titulo %}Dashboard{% endblock %}
{% block conteudo %}

<div class="container-fluid mt-4">
    <div class="row mt-4 justify-content-evenly">
        {% for data in data_statistics %}
            <div class="col-auto">
                <div class="card" style="min-width: 200px;background-color: #002e40">
                    <div class="card-body">
                        <h5 class="card-text" style="color: #c39b56">{{ data.title }}</h5>
                        <h2 class="card-title" style="color: #e3e3e3">{{ data.value }}</h2>
                        <h6 class="card-text fst-italic" style="color: #ababab">{{ data.info }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container_flow">
        <div class="container_flow_canvas">
            <h5>Fluxo de caixa esperado</h5>
            <div id="fluxo_caixa" style="width: 100%; height: 300px;"></div>
        </div>
    </div>
</div>
{{ current_box|json_script:"current_box" }}
{{ cumulative_expected_flow|json_script:"cumulative_expected_flow" }}
<script src="{% static 'js/statistics.js' %}" ></script>

<!-- Exemplo de como passar as variaveis que veeem pela views para o javascript externo  -->
<!-- o arquivo javascript externo está importado na base.html -->


<!-- algumas estilizacoes foram feitas nos arquivos css externo -->

{% endblock %}