{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block titulo %}Dashboard{% endblock %}
{% block conteudo %}
<h3 class="text-white text-center mt-4">Relatório do dia: {{ date_of_report }}</h3>
<div class="container-fluid mt-4">
  <div class="container_title_ywo">
    <h1 class="card-title" style="color: #e3e3e3">Estatísticas</h1>
    
  </div>
  <div class="row mt-4 justify-content-evenly">
      {% for data in data_statistics %}
          <div class="col-auto">
              <div class="card" style="min-width: 200px;background-color: #002e40">
                  <div class="card-body">
                      <h5 class="card-text" style="color: #c39b56">{{ data.title }}</h5>
                      <h2 class="card-title" style="color: #e3e3e3">{{ data.value }}</h2>
                      <h6 class="card-text fst-italic" style="color: #ababab">{{ data.info }}</h6>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
  <div class="container_flow">
      <div class="container_flow_canvas">
          <h5>Fluxo de caixa esperado</h5>
          <div id="fluxo_caixa" style="width: 100%; height: 300px;"></div>
      </div>
  </div>
  <div class="container_title">
    <h1 class="card-title" style="color: #e3e3e3"></h1>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="container_title_two">
    <h1 class="card-title" style="color: #e3e3e3">Enquadramento</h1>
  </div>
  <div class="row">
    <div class="row  justify-content-evenly container_statistics">
      {% for data in data_frame %}
      <div class="col-auto">
        {% if data.title != "Índice de RSP" %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-text" style="color: #c39b56">{{ data.title }}</h5>
            <h2 class="card-title" style="color: #e3e3e3">{{ data.value }}</h2>
            {% if data.info == "Enquadrado" %}
            <h6 class="card-text fst-italic" style="color: #3e9611"><i class="bi bi-check"></i>{{ data.info }}
            </h6>
            {% else %}
            <h6 class="card-text fst-italic" style="color: #D1540A"><i class="bi bi-x"></i>{{ data.info }}</h6>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="card card-hover-effect" data-bs-toggle="modal" data-bs-target="#recompraModal">
          <div class="card-body">
            <h5 class="card-text" style="color: #c39b56">{{ data.title }}</h5>
            <h2 class="card-title" style="color: #e3e3e3">{{ data.value }}</h2>
            {% if data.info == "Enquadrado" %}
            <h6 class="card-text fst-italic" style="color: #3e9611"><i class="bi bi-check"></i>{{ data.info }}
              <i class="bi bi-hand-index-thumb"></i>
            </h6>
            {% else %}
            <h6 class="card-text fst-italic" style="color: #D1540A"><i class="bi bi-x"></i>{{ data.info }}<i
                class="bi bi-hand-index-thumb"></i></h6>
            {% endif %}
          </div>
        </div>
        <div class="modal fade" id="recompraModal" tabindex="-1" aria-labelledby="recompraModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #002e40">
                <h5 class="modal-title" style="color: #c39b56">Detalhes da Recompra</h5> <button type="button"
                  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table table-dark">
                    <thead>
                      <tr>
                        <th>Motivo</th>
                        <th>%</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for table in buyback %}
                      {% if forloop.last %}
                        <tr>
                          <th>{{table.reason}}</th>
                          <th>{{table.percentual|floatformat:2}}%</th>
                        </tr>
                      {% else %}
                        <tr>
                          <td>{{table.reason}}</td>
                          <td>{{table.percentual|floatformat:2}}%</td>
                        </tr>
                      {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="container_graph_statistics mt-4">
      <div class="graph_statistics col-7">
        <h5 class="fw-light">Concentração devedor comum</h5>
        <div class="d-flex justify-content-evenly">
          {% for data in rank_common_debtor %}
          <div class="col-auto">
            <div class="card" style="min-width: 150px;background-color: #002e40">
              <div class="card-body">
                <h6 class="card-text" style="color: #c39b56">{{ data.title }}</h6>
                <h3 class="card-title" style="color: #e3e3e3">{{ data.value }}</h3>
                {% if data.info == "Enquadrado" %}
                <h6 class="card-text fst-italic" style="color: #3e9611"><i class="bi bi-check"></i>{{ data.info }}</h6>
                {% else %}
                <h6 class="card-text fst-italic" style="color: #D1540A"><i class="bi bi-x"></i>{{ data.info }}</h6>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row my-3 mx-4  justify-content-evenly">
          <div id="main" style="min-height:400px;"></div>
        </div>
      </div>
      <div class="graph_statistics col-5">
        <h5 class="fw-light">Concentração devedor especial</h5>
        <div class="row response justify-content-evenly">
          {% for data in rank_special_debtor %}
          <div class="col-auto">
            <div class="card" style="min-width: 150px;background-color: #002e40">
              <div class="card-body">
                <h6 class="card-text" style="color: #c39b56">{{ data.title }}</h6>
                <h3 class="card-title" style="color: #e3e3e3">{{ data.value }}</h3>
                {% if data.info == "Enquadrado" %}
                <h6 class="card-text fst-italic" style="color: #3e9611"><i class="bi bi-check"></i>{{ data.info }}</h6>
                {% else %}
                <h6 class="card-text fst-italic" style="color: #D1540A;"><i class="bi bi-x"></i>{{ data.info }}</h6>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row my-3 mx-4 justify-content-evenly" id="container_graph">
          <div id="main2" style="min-height:400px; width: 100%;"></div>
        </div>
      </div>
    </div>

  </div>
</div>

{{ common_debtor|json_script:"common_debtor" }}
{{ common_debtor_transform|json_script:"common_debtor_transform" }}
{{ special_debtor|json_script:"special_debtor" }}
{{ special_debtor_transform|json_script:"special_debtor_transform" }}
<script src="{% static 'js/frame.js' %}"></script>
{{ current_box|json_script:"current_box" }}
{{ cumulative_expected_flow|json_script:"cumulative_expected_flow" }}
<script src="{% static 'js/statistics.js' %}" ></script>

<!-- Exemplo de como passar as variaveis que veeem pela views para o javascript externo  -->
<!-- o arquivo javascript externo está importado na base.html -->
<!-- algumas estilizacoes foram feitas nos arquivos css externo -->
<style>
  .container_title{
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.264);
    padding: 10px;
    margin-bottom: 20px;
  }
  .container_title_two{
    margin-bottom: 25px;
  }
</style>

{% endblock %}