{% load static %}
<style>
  #nav_bar {
    border-bottom: 1px solid #000;
    box-shadow: 1px 1px 1px #000;
    padding: 5px;
    background-color: #fff;
    max-height: 50px;
  }

  #container_nav_img {
    max-width: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #img_nav {
    width: 100%;
    margin-right: 5px;
  }
</style>
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" id="nav_bar">
  <div class="container-fluid">
    <a class="" href="#" id="container_nav_img">
      <img src="{% static 'img/maud_color.svg' %}" id="img_nav" />
      <img src="{% static 'img/copobras.ico' %}" id="img_nav" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% comment %}
        <!-- segue um exemplo de rendeerizacao para diferentes tipos de usuarios -->
        
        <!-- {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">usuario autenticado </a>
        </li>
        {% endif %} -->

        <!-- {% if user.groups.filter(name='Admin').exists %}
          <li class="nav-item">
            <a class="nav-link" href="#">usuario admin pode ver</a>
          </li>
        {% endif %}  -->

        <!-- fim do exemplo -->
        {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'dashboard_statistics' %}">Estatísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'dashboard_frame' %}">Enquadramento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>